@{
    ViewBag.Title = "Introduction to KendoUI: Part4 - Creating a Bundle";
}

<h2>@ViewBag.Title</h2>

<span>Pick a Date: <input id="inputDate" type="text"/></span>

<script type="text/javascript">
    $(document).ready(function () {
        $("#inputDate").kendoDatePicker();
    });
</script>

