@{
    ViewBag.Title = "Getting Started With KendoUI";
}

<script type="text/javascript">
    $(document).ready(function(){
        $("#datePicker").kendoDatePicker();
    });
</script>

<h2>@ViewBag.Title</h2>

<input id="datePicker" />
